<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ma18_broadcastreciver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Äldre android versioner så räckte det att registrera broadcastrecivers i manifestet speciellt från version 8.0 -->
        <receiver android:name=".MyFirstReceiver">
            <intent-filter>
                <action android:name="my.custom.action.name"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>